.center{
    text-align: center;
}
#input-box{
    width:20vw;
    height: 3vh;
    font-size: large;
    margin-top: 30px;
    text-align: center;
}
#contact-info{
    position: relative;
    top:70vh;
    font-size: xx-large;
}
#title{
    font-size: 3em;
}
#img-wrap{
    width:100vw;
    overflow: hidden;
}
#header-pic{
    width: 100vw;
    margin-top: -15%;
    margin-bottom: -20%;
}
#table{
    border-color: black;
    border: black;
    border-width: 2em;
}