html,body{
    width:100%;
    margin:0;
      height:100%;
  }
  .sign-up-form{
      position: relative;
      left:13vw;
  }
  button{
      position: relative;
      left:1vw;
  }
  #warning-text{
      color: red;
      position: relative;
      left: 20px;
  }