html,body{
    width:100%;
    margin:0;
      height:100%;
  }
  .sign-up-form{
     margin: auto;
     width: 20vw;
     margin-top: 30vh;
     text-align: center;
  }
  .button-sign-up{
      text-align: center;
  }
  #warning-text{
      color: red;
  }