#dataset{
    width: 25vw;
    height: auto; 
    overflow-y: scroll;
    max-height: 30vh;
    margin-left: 1%;
    margin-top: 1%;
    display: inline-block;
}
.margin{
    margin:2%
}
#data-wrap{
    margin-top:10%;
}
#add-dataset{
    
    
    margin-left: 5%;
    display: inline-block;
}
table{
    margin-left:auto; 
    margin-right:auto;
    border-collapse: collapse;
    position: relative;
    margin-top: 2vh;
}
td,th{
    border: 1px solid;
    padding:10px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
tr:hover:not(#header){
    background-color: black;
    color: white;
}
.center{
    text-align: center;
}
#input-box{
    width:20vw;
    height: 40px;
    font-size: x-large;
    margin-top: 30px;
    text-align: center;
    position: relative;
    top:4px;
}
.bold{
    font-weight: bold;
}

.button-opt-options{
    display: inline-block;
    margin:1%;
}

.btn-opt-child-margin{
    margin:20px;
}
.user-city-inp-wrapper{
    position:relative; 
    left:1vw; 
    width:20vw;
}
.btn-add-dataset{
   margin-left:auto;
   margin-right:auto;
   margin-top: 2%;
}
.user-table{
    position: relative; 
    top:20px;
}
.white{
    color: white;
}
.save-btn{
    margin:5%; 
    position:relative; 
    left:45vw;
}
.submit-button-user{
    margin-top:2%;
    margin-left:2%;
  }